body {
  background-color:tomato
  }
h1 {
  color:brown; 
  text-align:center; 
  font-size:300%
  }
.para1 { 
  text-align:center;
  }
.para2 { 
  color:fuchsia; 
  text-align:center; 
  font-size:200%
  font-family:"Brush Script MT", cursive;
  }
.para3 { 
  color:aliceblue; 
  text-align:center; 
  font-size:125%; 
  font-family:Monaco, monospace;
  }